<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>TIERRA DE GENIOS</h1>
    <ul>
        <% developers.forEach(developer => { %>
            
            <% if (developer.workExperiences.length > 0 ) { %>
             
                <li><%= developer.firstName %>  - <% developer.workExperiences.forEach(experience => { %>
                    
                    <%= experience.company %> 
                    <%= experience.position %> </li>

                <% }) %>
                
            <% } %>
         
        <% }) %>
    </ul>

    <ul>
        <% workExperiences.forEach(workExperience => { %>
       
            <li> <%= workExperience.position %> - <%= workExperience.developer.firstName %>  </li> 
         
        <% }) %>
    </ul>

    <ul>
        <% educations.forEach(education => { %>
            <li><%= education.degree %> - <%= education.developerEducations.firstName %> </li>
         
        <% }) %>
        
    </ul>

    <ul>
        <% profileOwnerships.forEach(owner => { %>
            
            <li>
                <%=owner.Reviewer.firstName %> <%= owner.percentage %>  
            </li>

        <% }) %>
    </ul>
    
</body>
</html>